.btn-frame {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 70%;
    z-index: 100;
    cursor: pointer;
}

.btn-frame i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1182fc;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-frame i img {
    vertical-align: middle;
    width: 70%;
}

.btn-frame .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn-frame .kenit-alo-circle {
    width: 60px;
    height: 60px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgba(7, 41, 103, 0.8);
    opacity: 0.1;
    border-color: #1182fc;
    opacity: 0.5;
}

.btn-frame .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.btn-frame .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.btn-frame .kenit-alo-circle-fill {
    width: 70px;
    height: 70px;
    top: -10px;
    right: -10px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: rgba(7, 41, 103, 0.35);
    opacity: 0.4;
}

.btn-frame .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

/* Transition All */
.transition,
.control-owl button,
.carousel-comment-media .carousel-control a span,
.menu ul li a.has-child:after,
.menu ul li ul,
.menu ul li:hover>ul,
.scale-img img,
.scale-img:hover>img,
.btn-frame .kenit-alo-circle-fill,
.support-online .kenit-alo-circle-fill {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

/* custom code */
.badge {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    position: absolute;
    z-index: 2;
    color: #fff;
}

#cart-popup {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    position: absolute;
    right: 0px;
    bottom: 60%;
    height: 400px;
    background-color: white;
}

.btn-cart-popup {
    bottom: 315px;
}

.single-cart-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    border-bottom: 0.5px solid #dedede;
}

.substract-add input {
    width: 35px;
    text-align: center;
    height: 20px;
    border: none;
}

.substract-add button {
    border: none;
    width: 20px;
    height: 20px;
}

.substract-add button:hover {
    background-color: #c6ccc7;
}

#cart-popup {
    display: none;
}

.gotocart {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.gotocart:hover {
    background-color: #65aaf4;
    color: white;
}

#mycartpopup {
    overflow-y: scroll;
    max-height: 300px;
}