#container-checkout {
    display: flex;
    width: 100%;
}

#menu-checkout {
    width: 15%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/bg5.jpg");
}

#content-checkout {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 60%;
    /* background-color: #e4e4e4; */
    background-color: rgb(177 177 177 / 60%);
    border-radius: 10px;
    margin-bottom: 2%;
}

#total-checkout {
    width: 25%;
    height: 350px;
    box-shadow: 2px 2px 2px 2px gray;
    background-color: #f5f7fa;
    margin-left: 2%;
}

#menu-checkout li {
    list-style: none;
    margin-top: 50px;
    font-size: 17px;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.active {
    font-size: 20px;
    color: #ffb700;
}

h1 {
    margin-left: 25px;
    margin-top: 15px;
}



.row label,
.col label {
    display: block;
}

.row>.line {
    width: 52%;
}

.row {
    display: flex;
}

.row>.line>input {
    padding: 10px;
    width: 90%;
}

.col,
.row {
    margin-top: 10px;
    margin-left: 6%;
    width: 90%;
}

.col input,
textarea {
    padding: 10px;
    width: 95%;
}

select {
    padding: 10px;
    width: 95%;
}

textarea {
    resize: none;
}

.row input,
.col input,
select,
textarea {
    border: none;
    border-bottom: 1.5px solid #000000;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.summary-table li {
    list-style: none;
    margin-top: 20px;
    font-size: 17px;
}

.btn-checkout {
    margin-left: 10%;
    font-size: 24px;
    background-color: #116452;
    width: 80%;
    height: 50px;
    color: #f5f7fa;
    border: none;
}

.btn-checkout:hover {
    background-color: black;
}

.cost {
    color: red;
}

.payment-method div {
    margin-left: 10%;
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 35%;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.btn-close {
    border: none;
    background-color: #f8d7da;
}

.payment {
    display: flex;
}

.payment label {
    margin-top: 6px;
}